<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->


<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/bookstore</property>
		<property name="connection.username">bookstore-manager</property>
		<property name="connection.password">asd</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Automatically create/update tables -->
		<property name="hbm2ddl.auto">update</property> 
		<!-- Names the annotated entity class -->
		<mapping class="mancio.bookstore.model.Publisher" />

	</session-factory>

</hibernate-configuration>